{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "prettier",
    "prettier/react",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:import/typescript"
  ],
  "plugins": ["prettier", "@typescript-eslint"],
  "env": { "browser": true },
  "rules": {
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "ts": "never",
        "jsx": "never",
        "tsx": "never"
      }
    ],
    // sort imports. see https://github.com/import-js/eslint-plugin-import/blob/main/docs/rules/order.md
    // TLDR; sorted by : ['react', 'external packages', 'mapado packages', 'internal']
    "import/order": [
      "error",
      {
        "alphabetize": { "order": "asc" },
        "pathGroups": [
          {
            "pattern": "react",
            "group": "builtin",
            "position": "before"
          },
          {
            "pattern": "@mapado/**",
            "group": "external",
            "position": "after"
          },
          {
            "pattern": "mapado-*",
            "group": "external",
            "position": "after"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"]
      }
    ],

    "class-methods-use-this": [0],
    "new-cap": [
      2,
      {
        "newIsCap": true,
        "capIsNew": false
      }
    ],
    "no-underscore-dangle": [
      "error",
      {
        "allowAfterThis": true,
        "allow": ["_groups"]
      }
    ],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ],
    "react/prefer-es6-class": 1
  },
  "overrides": [
    {
      "files": ["__tests__/**/*"],
      "env": { "jest": true }
    }
  ]
}
