{
  "extends": ["airbnb", "prettier"],
  "env": { "browser": true },
  "plugins": ["prettier"],
  "rules": {
    "class-methods-use-this": [0],
    "new-cap": [
      2,
      {
        "newIsCap": true,
        "capIsNew": false
      }
    ],
    "no-underscore-dangle": [
      "error",
      {
        "allowAfterThis": true,
        "allow": ["_groups"]
      }
    ],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ],
    "react/prefer-es6-class": 1
  },
  "overrides": [
    {
      files: ["test/**/*"],
      env: { "mocha": true }
    }
  ]
}
